/* start font parking */

@font-face {
  src: url(../font/Ubuntu/Ubuntu-Light.ttf) format("truetype");
  font-family: main-font;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  font-family: main-font;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(../font/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
  font-family: main-font;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../font/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
  font-family: main-font;
  font-weight: 800;
  font-style: normal;
}

/* end font parking */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
:root {
  --bg-color: #f2f6ff;
  --primary-color: #554dde;
  --accent-color: #f44e77;
  --secondary-light-color: #6a6d9e;
  --secondary-dark-color: #16194f;
  --footer-color: #dce2f0;
  --section-padding: 70px;
  --primary-transition: 1.5s;
  --accent-transition: 1s;
  --secondary-transition: 0.5s;
  --main-radius: 10px;
  --accent-radius: 5px;
  --main-box-shadow: 0 0 20px rgb(233, 233, 233);
}
::selection {
  background-color: #6a6d9ece;
  color: white;
  text-shadow: 1px 1px 0px var(--accent-color);
}
body {
  font-family: main-font;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* componant */
@media (min-width: 992px) {
  .txt-bx {
    max-width: 500px;
  }
}
.head {
  font-size: 50px;
  font-weight: 800;
}
@media (max-width: 1199px) {
  .head {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .head {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .head {
    font-size: 30px;
  }
}
.head-not-land {
  color: var(--primary-color);
  margin: 0;
}
.head-min {
  font-size: 45px;
  font-weight: 800;
}
@media (max-width: 1199px) {
  .head-min {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .head-min {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .head-min {
    font-size: 25px;
  }
}
.title {
  color: #ddd;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
  }
}
.title-not-land {
  color: var(--secondary-light-color);
}
.btn {
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--primary-color) 10%,
    var(--accent-color)
  );
  color: white;
  width: fit-content;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: var(--main-radius);
  -webkit-border-radius: var(--main-radius);
  -moz-border-radius: var(--main-radius);
  -ms-border-radius: var(--main-radius);
  -o-border-radius: var(--main-radius);
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
}
@media (max-width: 991px) {
  .btn {
    font-size: 14px;
    padding: 10px 15px;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 14px;
    padding: 5px 10px;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .btn:hover {
    box-shadow: none;
  }
}
.btn img {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .btn img {
    width: 20px;
  }
}
.btn:hover img {
  animation: arrow var(--secondary-transition) infinite linear;
  -webkit-animation: arrow var(--secondary-transition) infinite linear;
}
@media (max-width: 500px) {
  .btn:hover img {
    animation: none;
    -webkit-animation: none;
  }
}
.dots-bg {
  background-image: url(/imgs/BG.png), url(/imgs/BG.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* componant */
/* small */
@media (min-width: 501px) {
  .container {
    width: 500px;
  }
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
/* big */
@media (min-width: 1199px) {
  .container {
    width: 1150px;
  }
}

/* end formating */

/* start landing */
.landing {
  background-image: url(../imgs/BGmain-bg-blured.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.landing > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
@media (max-width: 991px) {
  .landing > .container {
    flex-flow: column wrap;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .landing > .container {
    flex-flow: column wrap;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .landing > .container {
    flex-flow: column wrap;
    gap: 20px;
  }
}
.landing > .container .text {
  color: white;
}
@media (max-width: 991px) {
  .landing > .container .text {
    display: grid;
    place-items: center;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .landing > .container > .image {
    max-width: 350px;
  }
}
@media (max-width: 991px) {
  .landing > .container > .image {
    max-width: 230px;
  }
}
@media (max-width: 500px) {
  .landing > .container > .image {
    max-width: 300px;
  }
}
.landing > .container > .image img {
  width: 100%;
  height: auto;
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
}
/* start header */
header {
  /* z-index: 1; */
  position: relative;
  padding: 50px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  header .container {
    Padding-top: 20px;
  }
}
header .container img {
  width: 60px;
  height: auto;
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
}
header .container img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
@media (max-width: 500px) {
  header .container img {
    width: 50px;
  }
}
header .container ul {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 90px;
}
header .container ul li {
  margin: 0 30px;
  /* overflow: hidden; */
}
@media (max-width: 767px) {
  header .container ul li {
    margin: 0 20px;
  }
}
@media (max-width: 500px) {
  header .container ul li {
    margin: 0 10px;
  }
}
header .container ul li a {
  color: white;
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
}
header .container ul li:hover a {
  text-shadow: 2px 2px 2px var(--accent-color);
  font-size: 20px;
  font-weight: 800;
}
@media (max-width: 767px) {
  header .container ul li:hover a {
    font-size: inherit;
    text-shadow: none;
    font-weight: normal;
  }
}
@media (max-width: 500px) {
  header .container ul li a {
    font-size: 13px;
  }
}
header .container > a {
  background-color: var(--accent-color);
  color: white;
  padding: 20px 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (max-width: 767px) {
  header .container > a {
    font-size: 15px;
    padding: 10px 20px;
  }
}
@media (max-width: 500px) {
  header .container > a {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: var(--accent-radius);
    -webkit-border-radius: var(--accent-radius);
    -moz-border-radius: var(--accent-radius);
    -ms-border-radius: var(--accent-radius);
    -o-border-radius: var(--accent-radius);
  }
}
/* end header */
/* end landing */

/* start about */
.about {
  padding-top: 200px;
  padding-bottom: 100px;
  display: grid;
  place-content: center;
  position: relative;
}
@media (max-width: 991px) {
  .about {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
@media (max-width: 991px) {
  .about .container {
    flex-flow: wrap column-reverse;
    gap: 50px;
  }
}
.about .container .box {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .container .box {
    max-width: 100%;
    text-align: center;
  }
}
.about .container img {
  max-width: 100%;
  flex: 1;
  height: auto;
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
@media (min-width: 768px) {
  .about .container img:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }
}
/* end about */
/* start finance */
.finance {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.finance .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
@media (max-width: 991px) {
  .finance .container {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .finance .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.finance .container .box:first-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
@media (max-width: 991px) {
  .finance .container .box:first-child {
    gap: 10px;
  }
}
.finance .container .box .nums {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .finance .container .box .nums {
    gap: 10px;
  }
}
.finance .container .box .nums .num,
.finance .container .box .prog {
  padding: 40px 60px;
}
@media (max-width: 1199px) {
  .finance .container .box .nums .num,
  .finance .container .box .prog {
    padding: 30px 40px;
  }
}
@media (max-width: 991px) {
  .finance .container .box .nums .num,
  .finance .container .box .prog {
    padding: 20px 30px;
  }
}
@media (max-width: 767px) {
  .finance .container .box .nums .num,
  .finance .container .box .prog {
    padding: 20px 30px;
  }
}
.finance .container .box .nums .num {
  background-color: white;
  box-shadow: var(--main-box-shadow);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
@media (max-width: 991px) {
  .finance .container .box .nums .num {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

@media (max-width: 767px) {
  .finance .container .box .nums .num p {
    font-size: 12px;
  }
}
.finance .container .box .nums .num h1 {
  color: var(--primary-color);
  margin-bottom: 0;
  font-size: 40px;
}
@media (max-width: 991px) {
  .finance .container .box .nums .num h1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .finance .container .box .nums .num h1 {
    font-size: 30px;
  }
}

.finance .container .box .prog {
  background-color: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  box-shadow: var(--main-box-shadow);
}
@media (max-width: 991px) {
  .finance .container .box .prog {
    gap: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

.finance .container .box .prog .prog-bx {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 991px) {
  .finance .container .box .prog .prog-bx {
    gap: 5px;
  }
}
.finance .container .box .prog .prog-bx p {
  color: var(--secondary-light-color);
}
@media (max-width: 767px) {
  .finance .container .box .prog .prog-bx p {
    font-size: 12px;
  }
}
.finance .container .box .prog .prog-bx .prog-info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  gap: 5px;
}
@media (max-width: 991px) {
  .finance .container .box .prog .prog-bx .prog-info {
    gap: 2px;
  }
}
.finance .container .box .prog .prog-bx .prog-info span {
  width: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: chart 10s linear infinite;
  -webkit-animation: chart 20s linear forwards;
}
@media (max-width: 991px) {
  .finance .container .box .prog .prog-bx .prog-info span {
    width: 10px;
  }
}
.finance .container .box .prog .prog-bx .prog-info span:first-child {
  background-color: var(--primary-color);
}
.finance .container .box .prog .prog-bx .prog-info span:last-child {
  background-color: var(--accent-color);
}

@media (max-width: 767px) {
  .finance .container .box:last-child {
    display: grid;
    place-items: center;
    text-align: center;
  }
}
/* end finance */
/* start supprt */
.sup {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.sup .container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .sup .container {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .sup .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .sup .container .box {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .sup .container .box:first-child {
    text-align: center;
  }
}
.sup .container .box .team {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .sup .container .box .team {
    justify-content: center;
  }
}
.sup .container .box .team img {
  width: 70px;
  height: auto;
  transition: var(--accent-transition);
  -webkit-transition: var(--accent-transition);
  -moz-transition: var(--accent-transition);
  -ms-transition: var(--accent-transition);
  -o-transition: var(--accent-transition);
}
@media (max-width: 767px) {
  .sup .container .box .team img {
    width: 50px;
  }
}

@media (min-width: 767px) {
  .sup .container .box .team img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    z-index: 4444;
  }
}
.sup .container .box .team img:not(:first-child) {
  margin-left: -25px;
}
.sup .container .box .team span {
  color: var(--secondary-light-color);
  font-size: 18px;
  width: 70px;
  height: 70px;
  display: inline-block;
  display: flex;
  place-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
@media (max-width: 767px) {
  .sup .container .box .team span {
    font-size: 10px;
  }
}
.sup .container .box .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sup .container .box:last-child {
  flex: 1;
  min-width: 300px;
}
.sup .container .box .info:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.sup .container .box .info:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .sup .container .box .info:not(:last-child) {
    margin-bottom: 30px;
  }
}
.sup .container .box .info:not(:nth-child(2)) .msg {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .sup .container .box .info:not(:nth-child(2)) .msg {
    padding-left: 10px;
  }
}
.sup .container .box .info:nth-child(2) .msg {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .sup .container .box .info:nth-child(2) .msg {
    padding-right: 10px;
  }
}
.sup .container .box .info img {
  width: 70px;
  height: auto;
}
@media (max-width: 767px) {
  .sup .container .box .info img {
    width: 50px;
  }
}
.sup .container .box .info .msg p {
  padding: 30px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media (max-width: 767px) {
  .sup .container .box .info .msg p {
    font-size: 13px;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
.sup .container .box .info:not(:nth-child(2)) .msg p {
  background-color: white;
  color: var(--secondary-light-color);
  border-bottom-left-radius: 0;
}
.sup .container .box .info:nth-child(2) .msg p {
  background-color: var(--secondary-light-color);
  color: white;
  border-bottom-right-radius: 0;
}
.sup .container .box .info .msg span {
  color: var(--secondary-light-color);
  display: block;
  padding-top: 10px;
  font-size: 12px;
}
.sup .container .box .info:nth-child(2) .msg span {
  text-align: right;
}
/* end support */
/* start prices */
.price {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.price .container .main-head {
  max-width: 700px;
}
.main-head {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}
.main-head h1 {
  color: var(--primary-color);
  margin: 0;
}
.main-head h1 span {
  color: var(--accent-color);
}
.price .container .price-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.price .container .price-box .box {
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  flex-basis: 400px;
  height: auto;
}
.price .container .price-box .box .card {
  text-align: center;
}
.price .container .price-box .box h1 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .price .container .price-box .box h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .price .container .price-box .box h1 {
    font-size: 35px;
  }
}
.price .container .price-box .box h2 {
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .price .container .price-box .box h2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .price .container .price-box .box h2 {
    font-size: 30px;
  }
}
.price .container .price-box .box h2 span {
  font-size: 30px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .price .container .price-box .box h2 span {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .price .container .price-box .box h2 span {
    font-size: 20px;
  }
}
.price .container .price-box .box p {
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
.price .container .price-box .box a {
  background-color: white;
  padding: 15px 20px;
  display: inline-block;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--secondary-transition);
  -webkit-transition: var(--secondary-transition);
  -moz-transition: var(--secondary-transition);
  -ms-transition: var(--secondary-transition);
  -o-transition: var(--secondary-transition);
}
.price .container .price-box .box a:hover {
  color: white;
  background-color: var(--primary-color);
  animation: jump 0.5s infinite linear;
  -webkit-animation: jump 0.5s infinite linear;
}
@media (max-width: 767px) {
  .price .container .price-box .box a {
    padding: 10px 15px;
  }
}
@media (max-width: 500px) {
  .price .container .price-box .box a {
    padding: 10px 15px;
    font-size: 14px;
  }
}
.price .container .price-box .box .card img {
  display: inline-block;
  padding: 20px 0;
  min-width: 200px;
  max-width: 100%;
  height: auto;
}
.price .container .price-box .box .card .color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.price .container .price-box .box .color span {
  background-color: black;
  background-image: linear-gradient(
    var(--primary-color) 0%,
    var(--primary-color) 50%,
    var(--secondary-dark-color) 50%
  );
  width: 35px;
  height: 35px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  padding: 1px;
}
.price .container .price-box .box .active {
  outline: 2px solid black;
  border: 2px solid white;
}
.price .container .price-box .box ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-left: 30px;
}
.price .container .price-box .box ul li {
  list-style: url(/imgs/Check-icon\ 1.png);
  font-size: 20px;
  padding-bottom: 5px;
}
.price .container .price-box .box ul li img {
  margin-right: 10px;
}
.price .container .price-box .box ul li:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .price .container .price-box .box ul li {
    font-size: 18px;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .price .container .price-box .box ul li {
    font-size: 15px;
  }
}
.price .container .price-box .box ul li:not(:last-child) {
  height: 45px;
}
.price .container .price-box .box ul .inactive {
  color: #b7b7b7;
}
/* end prices */
/* start frequently */
.freq {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(/imgs/BG\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: grid;
  place-content: center;
}
.freq .container {
  text-align: center;
  display: grid;
  place-content: center;
}
.freq .container .box {
  max-width: 700px;
}

.freq .container .box h1 span {
  color: var(--accent-color);
}
/* end frequently */
/* start questions */
.ques {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  /* height: 100vh; */
}
.ques .container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.ques .container .text-box {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-bottom: 1px solid #6a6d9e5e;
  box-shadow: var(--main-box-shadow);
}
.ques .container .text-box h1 {
  font-size: 25px;
  font-weight: 800;
  position: relative;
}
@media (max-width: 991px) {
  .ques .container .text-box h1 {
    font-size: 18px;
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .ques .container .text-box h1 {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .ques .container .text-box h1 {
    font-size: 14px;
  }
}
.ques .container .text-box h1::before {
  content: "hov";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--secondary-light-color);
  font-size: initial;
}
@media (max-width: 991px) {
  .ques .container .text-box h1::before {
    content: "";
    border-style: solid;
    border-color: var(--secondary-light-color) transparent transparent
      transparent;
    border-width: 6px;
  }
}
@media (max-width: 767px) {
  .ques .container .text-box h1::before {
    border-width: 5px;
  }
}
.ques .container .text-box .inner-text {
  display: none;
}
.ques .container .text-box:hover .inner-text {
  display: block;
}
.ques .container .text-box p {
  color: var(--secondary-light-color);
  font-size: 20px;
}
@media (max-width: 991px) {
  .ques .container .text-box p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .ques .container .text-box p {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .ques .container .text-box p:not(:last-child) {
    margin-bottom: 10px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .ques .container .text-box p:not(:last-child) {
    margin-bottom: 5px;
    line-height: 1.1;
  }
}

/* end questions */
/* start footer  */
footer {
  background-color: var(--footer-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 500px) {
  footer .container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

footer .container .box img {
  max-width: 100%;
}
footer .container .box .rights {
  margin-top: 30px;
}
footer .container .box .rights h3 {
  color: var(--secondary-light-color);
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 991px) {
  footer .container .box .rights h3 {
    font-size: 16px;
  }
}
footer .container .box .rights h3:not(:last-child) {
  margin-bottom: 10px;
}
footer .container ul li {
  font-size: 20px;
}
@media (max-width: 991px) {
  footer .container ul li {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  footer .container ul li {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  footer .container ul li {
    /* color: var(--primary-color); */
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
  }
}

footer .container ul li:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  footer .container ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
/* end footer  */
/* start animation */
@keyframes arrow {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
  }
}
@keyframes chart {
  0% {
    height: 0;
  }
  50% {
    height: 20%;
  }
}
@keyframes jump {
  50% {
    transform: translateY(2px) scale(1.005);
    -webkit-transform: translateY(2px) scale(1.005);
    -moz-transform: translateY(2px) scale(1.005);
    -ms-transform: translateY(2px) scale(1.005);
    -o-transform: translateY(2px) scale(1.005);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

/* end animation */
